<p>
   All parameters of a method or constructor should be final. This enforces the proper habit of not re-assigning the parameter to another instance
   variable or a different primitive value. Typically you will want to introduce another local variable if you need to hold a modified version of
   the input parameter with a clear name that explains the variant clearly.
</p>

<h2>Noncompliant Code Example</h2>
<pre>
public int min(int val1, int val2) {...}
</pre>

<h2>Compliant Code Example</h2>
<pre>
public int min(final int val1, final int val2) {...}
</pre>
