<p>
   All methods that return an object should be annotated with either the javax.annotation.Nullable annotation or the javax.annotation.Nonnull annotation.
   By enforcing each of these methods to be annotated, the developer is forced to think about it and implicitly document whether null can be returned from
   the method. On top of that, your code can be properly analysed by Sonar and your IDE, reducing the likelihood of NullPointerExceptions in your application.
</p>

<h2>Noncompliant Code Example</h2>
<pre>
public Integer countIfExists() {...}
</pre>

<h2>Compliant Code Example</h2>
<pre>
@Nullable
public Integer countIfExists() {...}
</pre>
