<p>
   All non-primitive parameters of a method or constructor should be annotated with either the javax.annotation.Nullable annotation or the
   javax.annotation.Nonnull annotation. By enforcing each parameter to be annotated, the developer is forced to think about it and implicitly document
   whether null is an allowed value for the parameter. On top of that, your code can be properly analysed by Sonar and your IDE, reducing the likelihood of
   NullPointerExceptions in your application.
</p>

<h2>Noncompliant Code Example</h2>
<pre>
public Integer min(Integer val1, Integer val2) {...}
</pre>

<h2>Compliant Code Example</h2>
<pre>
public Integer min(@Nonnull Integer val1, @Nonnull Integer val2) {...}
</pre>
